Options +FollowSymlinks
RewriteEngine On

# deal with admin first
RewriteRule ^admin/assets/(.*)$ backend/web/assets/$1 [L]
RewriteRule ^admin/css/(.*)$ backend/web/css/$1 [L]
RewriteRule ^admin/js/(.*)$ backend/web/js/$1 [L]
RewriteRule ^admin/app-assets/(.*)$ backend/web/app-assets/$1 [L]
RewriteCond %{REQUEST_URI} ^/(best-in-job/admin) 
RewriteRule ^.*$ backend/web/index.php [L]

# Root Dir
RewriteRule ^img_assets/(.*)$ img_assets/$1 [L]
RewriteRule ^uploads/(.*)$ uploads/$1 [L]
RewriteCond %{REQUEST_URI} ^/(best-in-job) 
RewriteCond %{REQUEST_URI} !^public
RewriteRule ^(.*)$ api/web/$1 [L] 

# Deny accessing below extensions
<Files ~ "(.json|.lock|.git)">
Order allow,deny
Deny from all
</Files>

# Deny accessing dot files
RewriteRule (^\.|/\.) - [F]

################ Important Notes ########
# No Server Please ^/ replace with ^/
<FilesMatch "\.(ttf|otf|eot|woff|woff2)$">
    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "https://fonts.gstatic.com/"
    </IfModule>
    <FilesMatch  "apple-app-site-association$">
        ForceType application/json
    </FilesMatch>
</FilesMatch>